<% include ./partials/header.ejs %>
<div class="w-full flex justify-center min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="post-details">
    <div class="w-72 h-80 rounded-lg bg-zinc-700 overflow-hidden">
      <img class="w-full h-full object-cover" src="/images/uploads/<%= post.image %>" alt="">
    </div>
    <h1 class="mt-4 text-2xl flex justify-center font-semibold"><%= post.title %></h1>
    <p class="mt-2 text-sm flex justify-center"><%= post.description %></p>
    <p class="mt-2 text-xs text-zinc-400 flex justify-center">Posted by <%= post.user.username %></p>
  </div>
</div>
<% include ./partials/footer.ejs %>